* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Start Header */

header {
  height: 70px;
  line-height: 70px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading h1 {
  font-weight: 700;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-left: 15px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
}

ul li {
  text-transform: capitalize;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: all 0.3s ease-in-out;
  border-bottom: 1.5px solid transparent;
}

ul li a:hover {
  color: #777;
  border-bottom: 1.5px solid #777;
}

ul li a:active {
  font-weight: 800;
  font-size: 17px;
}

/* End Header */

/* Start Main Content */

.main-content {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-content .text-center {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.main-content .paragraph {
  font-size: 18px;
  color: #858585;
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding-top: 20px;
}

.heading2 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.04em;
  margin-bottom: 50px;
  text-align: center;
}

/* End Main Content */

/* Start Projects */

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #e4e4e4;
  margin: 30px;
  padding: 70px 50px;
  width: 24em;
  max-width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.project:hover {
  background-color: #7777770e;
  cursor: pointer;
}

.project-title {
  padding: 0 0 20px 0;
  font-size: large;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-title a {
  text-decoration: none;
  color: #5091e6;
}

.project-description {
  max-width: 300px;
  word-wrap: break-word;
}

/* End Projects */

/* Start Quotes */

.quote {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 20px;
  color: #474747;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

.arabic {
  font-family: "Ruwudu", serif;
  font-style: normal;
}

.quote:hover {
  font-size: 16px;
  cursor: default;
}

/* End Quotes */

/* Start Connect */

.connect p {
  text-align: center;
  letter-spacing: normal;
  font-size: 17px;
  font-weight: 600;
  color: #474747;
  padding-bottom: 10px;
  display: inline-flex;
  align-items: center;
}

.connect p a {
  padding-left: 5px;
  text-decoration: none;
  color: #2a7ae2;
  text-transform: capitalize;
}

.connect p a:hover {
  text-decoration: underline;
}

/* End Connect */

/* Start Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 30px 30px 30px 30px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: #474747;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* End Footer */

/* Start responsive for 600 and 800 */

@media screen and (min-width: 601px) and (max-width: 800px) {
  .heading {
    align-items: center;
  }

  .heading h1 {
    font-size: 15px;
    width: 20%;
  }

  .heading h1:hover {
    text-decoration: underline;
  }

  nav ul {
    width: 100%;
  }

  nav ul li {
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 14px;
  }

  nav ul li a:active {
    font-weight: 800;
    font-size: 15px;
  }

  .project {
    margin: 15px;
    padding: 40px 20px;
  }

  .project .project-title {
    font-size: 18px;
  }

  .project .project-description {
    font-size: 16px;
  }

  .main-content .text-center {
    font-size: 40px;
  }

  .main-content .paragraph {
    font-size: 16px;
  }

  .heading2 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .quote {
    font-size: 12px;
  }

  .connect p {
    font-size: 16px;
  }

  .footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    flex-direction: column;
    align-items: center;
  }

  .heading h1 {
    display: none;
  }

  nav {
    width: 100%;
  }

  nav ul {
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
  }

  nav ul li a {
    font-size: 11px;
  }

  ul li a:active {
    font-weight: 800;
    font-size: 12px;
  }

  .project {
    margin: 15px;
    padding: 40px 20px;
  }

  .project .project-title {
    font-size: 13px;
  }

  .project .project-description {
    font-size: 12px;
  }

  .main-content .text-center {
    font-size: 24px;
  }

  .main-content .paragraph {
    font-size: 12px;
  }

  .heading2 {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .quote {
    font-size: 9px;
  }

  .connect p {
    font-size: 12px;
  }

  .footer {
    font-size: 10px;
  }
}

/* End responsive */
